<h1>{{number}} {{name}}</h1>

<div class="row">
	<div class="col-3">
		<div class="list-group">
			<a href="../" class="list-group-item list-group-item-action ">Dashboard</a>
			<a href="../roster/" class="list-group-item list-group-item-action">Roster</a>
			<a href="../class/" class="list-group-item list-group-item-action active">Classes</a>
			<a href="../edit/" class="list-group-item list-group-item-action">Settings</a>
		</div>
	</div>
	<div class="col">
		<h2 class="text-secondary">{{formatDate date day="numeric" month="long" year="numeric"}}</h2>

		<h5>Average Student Engagement</h5>
		<div id="engagement-chart"></div>

		<h5>Student Attendance</h5>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Username</th>
				</tr>
			</thead>
			<tbody>
			{{#each present}}
				<tr class="{{#if present}}table-success{{else}}table-danger{{/if}}">
					<th scope="row">{{id}}</th>
					<td>{{first}}</td>
					<td>{{last}}</td>
					<td>{{username}}@mit.edu</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>

<input id="engagementDataset" type="hidden" value="/admin/{{class}}/{{formatDate date year="numeric"}}-{{formatDate date month="2-digit"}}-{{formatDate date day="2-digit"}}/">