<div class="form-group row align-items-center">
	<div class="col-1">
		<input type="text" readonly class="form-control-plaintext" id="staticCount{{count}}" value="{{count}})">
	</div>
	<div class="col">
		<input type="text" class="form-control" name="firstName{{count}}" placeholder="First name">
	</div>
	<div class="col">
		<input type="text" class="form-control" name="lastName{{count}}" placeholder="Last name">
	</div>
	<div class="col">
		<div class="input-group">
			<input type="text" class="form-control" name="username{{count}}" placeholder="MIT Kerberos account" aria-label="Recipient's username">
			<span class="input-group-addon" id="basic-addon2">@mit.edu</span>
		</div>
	</div>
</div>